@model IEnumerable<BudgetApp.Models.DimDate>

@{
    ViewData["Title"] = "DimDateList";
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DateISO)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DateDK)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DateNordea)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.WeekInt)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.YearInt)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.QuarterInt)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MonthInt)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DayNameEN)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DayNameDK)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DanishDayOfWeekInt)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateISO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNordea)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.WeekInt)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.YearInt)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.QuarterInt)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MonthInt)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DayNameEN)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DayNameDK)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DanishDayOfWeekInt)
            </td>
        </tr>
}
    </tbody>
</table>
