@{LanguageControl l = new LanguageControl("DK");}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BudgetApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:lightgray;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/bootstrap-icons-1.8.1/house.svg" id="myhomebtn" aria-hidden="true"/> 
                    @l.HomeButton
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="~/img/bootstrap-icons-1.8.1/cash-coin.svg" aria-hidden="true"/>
                             @l.BudgetButton 
                            </a>
                            <div class="dropdown-menu darker-bg" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="DimDates" asp-action="DimDateList">
                                    <img src="~/img/bootstrap-icons-1.8.1/calendar-check.svg" aria-hidden="true"/>
                                     Dates
                                </a>
                                <a class="dropdown-item" data-bs-toggle="dropdown" @*asp-controller="Categories" asp-action="CategoryList"*@>
                                    <img src="~/img/bootstrap-icons-1.8.1/calculator.svg" aria-hidden="true"/>
                                     @l.BudgetCreateButton
                                </a>
                                <a class="dropdown-item" data-bs-toggle="dropdown" @*asp-controller="Categories" asp-action="CategoryList"*@>
                                    <img src="~/img/bootstrap-icons-1.8.1/table.svg" aria-hidden="true"/>
                                     @l.BudgetViewButton
                                </a> 
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="~/img/bootstrap-icons-1.8.1/gear.svg" aria-hidden="true"/>
                             @l.SettingsButton 
                            </a>
                            <div class="dropdown-menu darker-bg" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="Categories" asp-action="CategoryList">
                                    <img src="~/img/bootstrap-icons-1.8.1/tag.svg" aria-hidden="true"/>
                                     @l.CategoryName
                                </a>
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="Subcategories" asp-action="SubcategoryList">
                                    <img src="~/img/bootstrap-icons-1.8.1/tags.svg" aria-hidden="true"/>
                                     @l.SubCategoryName
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="~/img/bootstrap-icons-1.8.1/bank.svg" aria-hidden="true"/>
                             @l.BankButton 
                            </a>
                            <div class="dropdown-menu darker-bg" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="CSV_model" asp-action="CSVlist">
                                    <img src="~/img/bootstrap-icons-1.8.1/filetype-csv.svg" aria-hidden="true"/>
                                     @l.CSVButton
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-transparent">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BudgetApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
