@model IEnumerable<BudgetApp.Models.CSV_loader.CSV_model>

@{
    ViewData["Title"] = "CSVlist";
}

<table class="table">
    <thead>
        <tr>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.SendingAccount)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.ReceivingAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfTransaction)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Currency)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.SendingAccount)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.ReceivingAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfTransaction)
            </td>           
            <td class="text-right 
                @( item.Amount > 0? "text-forest" : item.Amount == 0? "text-black" : "text-red")">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-right
                @( item.Saldo > 0? "text-forest" : item.Saldo == 0? "text-black" : "text-red")">
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
        </tr>
}
    </tbody>
</table>
