@model IEnumerable<BudgetApp.Models.CategoryModels.Category>
@{LanguageControl l = new LanguageControl("DK");}

<p>
    <a asp-action="Create">@l.CreateNewButton</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@l.CategoryTypeName</th>
            <th>@l.CategoryName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryType.CategoryTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">
                    <img src="~/img/bootstrap-icons-1.8.1/pencil.svg" aria-hidden="true"/>
                     @*@l.EditButton*@
                </a> 
                <a asp-action="Delete" asp-route-id="@item.CategoryId">
                    <img src="~/img/bootstrap-icons-1.8.1/trash3.svg" aria-hidden="true"/>
                     @*@l.DeleteButton*@
                </a>
            </td>
        </tr>
}
    </tbody>
</table>