@model IEnumerable<BudgetApp.Models.Trans>
@*Set the language*@
@{LanguageControl l = new LanguageControl("DK");}
@{
    ViewData["Title"] = "TransactionList";
}

<p>
    <a asp-action="Create">@l.CreateNewButton</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategory)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.SubcategoryName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
